@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
$VeryDarkViolet:#322249;

body {
  padding: 0;
  margin: 0;
  font-family: "karla", "Helvetica Neue", Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .list-menu {
    display: none;
  }

  .list-menu.active {
    display: block;
    width: 100%;
    height: 456px;
    position: absolute;
    background: hsl(270, 9%, 17%);
    top: 69px;
    left: 0;
    font-size: 1.5em;
    color: white;

    img {
      width: 100%;
      height: auto;
    }

    ul {
      padding: 0;
      position: relative;

      li {
        list-style: none;
        margin: 1em;
        text-align: center;
        transition: 5s ease-in-out;
        -webkit-transition: 5.5s ease-in-out;

        a {
          text-decoration: none;
          padding: 5px 2em;
          color: white;
          border: 1px solid white;
        }
      }
    }
  }
}

.button {
  padding: .5em .6em;
  background: #322249;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: white;
  color: $VeryDarkViolet;
}

.plans {
  .image {
    height: 456px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    height: 100vh;
    text-align: center;
    background-color: $VeryDarkViolet;
    display: flex;
    align-items: center;
    color: white;
    position: relative;

    h2 {
      font-weight: bold;
      font-size: 2.2em;
    }

    p {
      font-weight: 500;
      margin: 0 1em;
      padding: 0 1em;
      font-size: 0.9em;
      word-spacing: 4px;
      line-height: 1.3em;
      margin-bottom: 2em;
    }



    .img {
      position: absolute;
      left: 0;
      top: 0;
    }

    .img2 {
      position: absolute;
      right: 0;
      top: 43vh;
    }
  }
}

.different {
  h2 {
    margin-bottom: 2em;
    font-size: 2.2em;

  }

  text-align: center;
  margin:8em 1.3em;

  .features {
    margin-bottom: 3em;
  }


}

.howWork {
  text-align: center;
  color: white;
  font-size: 1.4em;
  margin: auto 1em;
  padding: 3.5em 2em;
  background: $VeryDarkViolet;
  position: relative;
  margin-bottom: 7em;

  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.mark {
  text-align: center;
  padding-top: 7.2em;
  padding-bottom: 2em;
  position: relative;
  background-color: rgba(248, 242, 242, 0.876);

  span {
    margin-left: 1em;
  }

  .logo {
    margin-bottom: 1.2em;
  }
}

.mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 387px;
  height: 196px;
  z-index: 1;
  rotate: 180deg;
  background: url("./images/bg-pattern-mobile-nav.svg") 0 0 no-repeat;
  background-size: 387px 196px;

  opacity: 0.3;
}

footer {
  border-top: 0.5px solid rgba(207, 202, 202, 0.876);
  margin: 0 1em;
  text-align: center;

  .box {
    h2 {
      font-size: 1em;
      color: gray;
      margin: 2em 0;
    }

    h3 {
      font-size: 1em;
    }
  }
}

#menu {
  cursor: pointer;
}

@media screen and (min-width:700px) {
  .plans {
    display: flex;

    .image img {
      position: absolute;
      width: 40vw;
      height: auto;
      z-index: 1;
      right: 3em;
      top: 50vh;
      max-height: 530px;
      max-width: 555px;
    }

    .info {
      text-align: start;
      height: 80vh;

      h2 {
        padding-left: 1em;
      }

      p {
        width: 45%;
      }

      button {
        margin-left: 2em;
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and(min-width:900px) {
  .plans .info {
    height: 80vh;
    width: 100vw;


    .container-info {
      margin-left: 3em;
    }
  }

  .mark {
    display: flex;
    justify-content: space-evenly;
  }

  header {
    .list-menu {
      width: 60vw;
      display: block;

      ul {
        display: flex;
        justify-content: space-evenly;

        li {
          list-style: none;
          cursor: pointer;

          a {
            text-decoration: none;
            padding: 5px 2em;
            color: black;
            border: 1px solid black;
          }

          :hover {
            background-color: $VeryDarkViolet;
            color: white;
          }
        }
      }

      img {
        display: none;
      }
    }

    .menu-amburger {
      display: none;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .different {
    text-align: start;
    margin: 8em 6em;

    h2 {
      text-align: center;
      padding-top: 4em;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    p {
      font-size: 0.8em;
      width: 80%;
    }
  }

  .howWork {
    margin: auto 4em;
  }
}